@use '../../values/variables';

.content{
    @include variables.defaultFlexColumn(flex-start, none);
    gap: 4.5em;
    width: 36.5em;
    .header{
        @include variables.defaultFlexRow(space-between, center);
        h5{
            color: variables.$blackColor;
            font-size: 1.6em;
            font-weight: 500;
        }
    }
    .itemgallery{
        @include variables.defaultFlexColumn(flex-start, center);
        gap: 2.5em;
        max-height: 34em;
        overflow-y: auto;
    }
    .totalprice{
        @include variables.defaultFlexRow(space-between, center);
        h5{
            color: #000;
            font-size: 2.4em;
            font-weight: 500;
        }
    }
    div{
        p{
            color: variables.$grayColor;
            font-size: 1.4em;
            font-weight: 400;
        }
    }
}

h3{
    color: variables.$blackColor;
    font-size: 2.4em;
    font-weight: 500;
}