@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&family=Work+Sans&display=swap");

$orangeColor: #FC8019;
$blackColor: #202020;
$grayColor: #808080;

/*Global*/
$contentWidth: 99vw;
$paddingTopPage: 4em; /*Called in Logo.css*/
$paddingBotPage: 12em;

/*Home*/
$contentWidthHome: 130em;

/*Footer*/
$contentFooterWidth: 145em; 

/*Login and Register*/
$contentAut: 152.5em; /*Width*/
$contentForm: 60em; /*Width*/

*{
    font-size: 10px;
    font-family: Poppins;
}

@mixin defaultFlexRow($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: row nowrap;
}

@mixin defaultFlexColumn($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: column nowrap;
}

@mixin defaultHover(){
    transition: all 0.3s ease;
    opacity: 1.5;
    transform: scale(1.1, 1.1);
    transform-origin: center; 
    cursor: pointer;
}

@mixin smallHover(){
    transition: all 0.3s ease;
    opacity: 1.5;
    transform: scale(1.01, 1.01);
    transform-origin: center; 
    cursor: pointer;
}

@mixin colorHover($color){
    border-color: transparent;
    transition: all 0.3s ease;
    opacity: 1.5;
    transform-origin: center; 
    background-color: $color;
}