@use '../../values/_colors';
@use '../../values/_fonts';
@use '../../values/_styles';

$borderRadius: 10px;

$padding: 0 20px;
$heightInput: 4vw;//6vw;
$widthInput: 29.5vw;//39.5vw;

$heightButton: 4vw;//6vw;
$widthButton: 30vw;//40vw;

$marginPage: 50px 200px;

$marginForm: 34.7vw;
$gapForm: 20px;


.titlepage{
    margin: $marginPage;
    h6{
        color: black;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        padding: 8px 12px;
    }
    
    border-bottom: 1px solid #808080;
}