@use '../../values/variables';

.content{
    @include variables.defaultFlexColumn(none, center);
    @include variables.defaultInitialize();
    width: variables.$contentWidth;
    padding-top: variables.$paddingTopPage;
    padding-bottom: variables.$paddingBotPage;
    .titlepage{
        @include variables.defaultFlexColumn(none, flex-start);
        width: variables.$contentAut;
        gap: 7em;
        h6{
            color: variables.$blackColor;
            font-weight: 600;
            font-size: 2.4em;
        }
        padding-left: 0.4em;
        padding-bottom: 1em;
        border-bottom: 0.1em solid #808080;
    }
}

