@use '../../values/variables';

.search{
    @include variables.defaultFlexRow(center, center);
    @include variables.defaultInitialize();
    gap: 3em;
    padding-top: 0.5em;
    input{
        @include variables.defaultFlexRow(space-between, center);
        width: 28.57em;
        padding: 1.07em 1.78em;
        border-radius: 0.71em;
        box-shadow: 0em 0.29em 1.43em 0em rgba(0, 0, 0, 0.10);
        border-color: transparent;
        outline: none;
        background: #FFF;
        
        color: variables.$grayColor;
        font-size: 1.4em;
        font-weight: 500;
    }
    input:focus{
        @include variables.smallHover();
    }
    
    button{
        @include variables.defaultFlexRow(center, center);
        width: 9.375em;
        padding: 0.9375em;
        border-radius: 0.625em;
        gap: 0.625em;
        box-shadow: 0em 0.29em 1.43em 0em rgba(0, 0, 0, 0.10);
        background: #FFF;
        color: variables.$grayColor;
        font-size: 1.6em;
        border-color: transparent;
    }
    button:hover{
        @include variables.smallHover();
    }
}
.content{
    @include variables.defaultFlexRow(center, flex-start);
    @include variables.defaultInitialize();
    width: variables.$contentWidth;
    padding: 6em 0;
    
    
    .subcontent{
        width: variables.$contentAut;
        @include variables.defaultFlexRow(flex-end, flex-start);
        gap: 6.8em;

        .dishgallery{
            @include variables.defaultFlexColumn(flex-start, center);
            gap: 3em;
            max-height: 66em;
            overflow-y: auto;
            overflow-x: hidden;
        }

        hr{
            stroke-width: 0.1em;
            stroke: variables.$grayColor;
            width: 0em;
            height: 50em;
        }
    
        nav{
            ul{
                @include variables.defaultFlexColumn(center, flex-end);
                list-style-type: none;
                gap: 1em;
            }
            li{
                a{
                    display: block;
                    color: variables.$grayColor;
                    font-size: 1.6em;
                    font-weight: 500;
                    text-decoration: none;
                }
                a:hover{
                    @include variables.defaultHover();
                    color: variables.$orangeColor;
                }
            }
        }
    }
    
}