@use '../../values/variables';
.content{
    @include variables.defaultFlexRow(center, flex-start);
    width: variables.$contentWidth;
    padding: 8em 0;
    
    
    .subcontent{
        width: variables.$contentAut;
        @include variables.defaultFlexRow(flex-end, flex-start);
        gap: 6.8em;

        .dishgallery{
            @include variables.defaultFlexColumn(flex-start, center);
            gap: 3em;
            max-height: 66em;
            overflow-y: auto;
            overflow-x: hidden;
        }

        hr{
            stroke-width: 0.1em;
            stroke: variables.$grayColor;
            width: 0em;
            height: 50em;
        }
    
        nav{
            ul{
                @include variables.defaultFlexColumn(center, flex-end);
                list-style-type: none;
                gap: 1em;
            }
            li{
                a{
                    display: block;
                    color: variables.$grayColor;
                    font-size: 1.6em;
                    font-weight: 500;
                    text-decoration: none;
                }
                a:hover{
                    @include variables.defaultHover();
                    color: variables.$orangeColor;
                }
            }
        }
    }
    
}