@use '../../values/variables';

.content{
    width: variables.$contentWidth;
    @include variables.defaultFlexColumn(center, center);
    
    .loginform{
        @include variables.defaultFlexColumn(center, center);
        padding-top: 5em;
        gap: 3em;
        width: variables.$contentForm;
        p{
            color: variables.$blackColor;
            font-size: 1.6em;
            font-weight: 400;
            button{
                color: black;
                font-size: 1.1em;
                font-weight: 500;
                background-color: transparent;
                border: none;
            }
            button:hover{
                @include variables.smallHover();
            }
        }
    }
}

@media screen and (max-width: 1599px) {
    *{
        font-size: 4px;
    }
}