@use '../../values/variables';

.content{
    @include variables.defaultFlexColumn(center, center);
    width: variables.$contentWidth;
    @include variables.defaultInitialize();

    .maincontent{
        width: variables.$contentAut;
        padding: 20em 0;
        @include variables.defaultFlexColumn(center, flex-start);
        div{
            @include variables.defaultFlexRow(flex-start, center);
            gap: 2em;
        }
        
        .apple{
            @include variables.defaultFlexColumn(flex-start, center);
            width: 12.5em;
            height: 7.5em;
            border-radius: 5em;
            background: #FFD0D0;
            
            padding: 0em 0em;
            svg{
                width: 4.7em; 
                height: 5em;
                
                animation: defaultSlideY 1.6s linear infinite;
            }
        }

        .banana{
            @include variables.defaultFlexRow(flex-start, center);
            width: 12.5em;
            height: 7.5em;
            gap: 1em;
            
            padding: 0.2em 0.9em 0.2em 0.9em;
            border-radius: 5em;
            background: #FFEDD0;
            svg{
                width: 4.9em; 
                height: 4.6em;

                animation: defaultSlideX 1.6s linear infinite;
            }
        }

        h1{
            color: variables.$blackColor;
            font-size: 6em;
            font-weight: 500;
        }
        span{
            color: variables.$orangeColor;
            font-size: 6em;
            font-weight: 500;
        }

        p{
            padding-top: 2.5em;
            width: 44.5em;
            color: #404040;
            font-size: 1.6em;
            font-weight: 400;
            line-height: 1.5625em;
        }
    }

    .subcontent{
        width: variables.$contentWidthHome;
        h4{
            justify-self: flex-start;
            color: variables.$blackColor;
            font-size: 2.4em;
            font-weight: 500;
        }
    
        .restaurantsgallery{
            @include variables.defaultFlexRow(center, center);
            width: 100%;
            padding: 4em 0;
            flex-flow: row wrap;
            gap: 2.4em;
        }
    }
}

@media (max-width:1600px){
    .content{
        .maincontent{
            width: 120em;
        }
        
        .subcontent{
            width: 100em;
        }
    }
}

@media (max-width:1250px){
    .content{
        .maincontent{
            width: 100em;
            div{
                gap: 1em;
            }
            span, h1{
                font-size: 4em;
            }
            p{
                font-size: 1.2em;
            }

            .apple{
                svg{
                    width: 3.7em;
                    height: 4em;
                }
                width: 10.5em;
                height: 5.5em;
            }

            .banana{
                padding: 0.2em 0.3em 0.2em 0.3em;
                svg{
                    width: 3.9em;
                    height: 3.64em;
                }
                width: 10.5em;
                height: 5.5em;
            }
        }
        
        .subcontent{
            width: 100em;
        }
    }
}

@media (max-width:1025px){
    .content{
        .maincontent{
            width: 80em;
        }
        .subcontent{
            width: 80em;
        }
    }
}

@media (max-width:830px){
    .content{
        .maincontent{
            width: 60em;
        }
        .subcontent{
            width: 60em;
        }
    }
}

@media (max-width:630px){
    .content{
        padding-bottom: 0;
        .maincontent{
            padding: 5em 0;
            width: 30em;
            div{
                gap: 0.5em;
                flex-wrap: wrap;
            }
            span, h1{

                font-size: 4em;
            }
            p{
                max-width: 300px;
                font-size: 1.2em;
                white-space: pre-line;
            }

            .apple{
                svg{
                    width: 1.8em;
                    height: 2em;
                }
                width: 5.5em;
                height: 2.75em;
            }

            .banana{
                padding: 0.1em 0.1.5em 0.1em 1.5em;
                svg{
                    width: 2em;
                    height: 1.8em;
                }
                width: 5.5em;
                height: 2.75em;
            }
        }
        .subcontent{
            width: 30em;
        }
    }
}

