@use '../../values/variables';

.content{
    cursor: pointer;
    @include variables.defaultFlexRow(flex-start, center);
    
    gap: 1em;
    padding-top: variables.$paddingTopPage;
    svg{
        fill: variables.$orangeColor;
        width: 2.3em;
        height: 2.1em;
    }
    h5{
        color: variables.$blackColor;
        font-size: 2.8em;
        font-weight: 800;
        padding-top: 0.2em;
    }
}
.content:hover{
    @include variables.defaultHover();
}