@use '../../values/variables';

.content{
    width: variables.$contentWidth;
    padding-top: variables.$paddingTopPage;
    padding-bottom: variables.$paddingTopPage + variables.$paddingTopPage;
    @include variables.defaultFlexRow(center, center);
    .subcontent{
        @include variables.defaultFlexRow(space-between, center);
        width: variables.$contentAut;

        .features{
            @include variables.defaultFlexRow(center, center);
            gap: 2.5em;
    
            input{
                width: 28.125em;
                padding: 0.9375em 1.5625em;
                border-radius: 0.625em;
                border: 0.0625em solid #808080;
                background: transparent;
                opacity: 0.75;
    
                justify-content: space-between;
                align-items: center;
        
                color: #808080;
                font-weight: 500;
                font-size: 1.6em;
                outline: none;
            }
            
            input:hover{
                @include variables.smallHover();
            }
            
            svg{
                width: 3.0em;
                height: 3.1em;
                fill: none;
                rect{
                    width: 1.83571em;
                    height: 1.83571em;
                    stroke: #202020;
                    stroke-width: 2;
                }
            }

            button{
                padding: 1.6em 2.5em;
                background: variables.$blackColor;
                border-radius: 1.0em;
                color: #FDFBFA;
                font-size: 1.4em;
                font-weight: 600;
            }
            button:hover{
                @include variables.colorHover(variables.$orangeColor);
            }
        }
    }
}
