@use '../../values/variables';

.content{
    width: 100%;
    @include variables.defaultFlexColumn(none, none);
    gap: 1.6em;
    .restaurant{
        color: variables.$blackColor;
        font-size: 1.6em;
        font-weight: 500;
        span{
            color: variables.$orangeColor;
            font-size: 1.1em;
            font-weight: 500;  
        }
    }
    .subcontent{    
        @include variables.defaultFlexRow(space-between, center);
    }
}

.food{
    @include variables.defaultFlexColumn(flex-start, none);
    .name{
        color: variables.$blackColor;
        font-size: 1.6em;
        font-weight: 500;
    }
    .price{
        color: variables.$grayColor;
        font-size: 1.6em;
        font-weight: 500;
    }
}

.quantity{        
    @include variables.defaultFlexRow(center, flex-start);
    gap: 1em;
    label{
        color: variables.$grayColor;
        font-size: 2em;
        font-weight: 400;
        width: 1em;
        height: 2.5em;
        @include variables.defaultFlexRow(center, flex-start);
    }
    button{
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 2.0em;
        width: 1.2em;
        height: 1.2em;
        @include variables.smallHover();
    }
}