@use '../../values/variables';

.content{
    width: 54.9em;
    //height: 14.5em;
    @include variables.defaultFlexColumn(center, flex-start);
    gap: 1em;
    h3{
        color: #FFF;
        font-size: 3.2em;
        font-weight: 600;
    }
    p{
        font-size: 1.6em;
        color: #FFF;
        font-weight: 400;
    }

    .subcontent{
        width: 100%;
        @include variables.defaultFlexRow(space-between, none);
        div{
            @include variables.defaultFlexColumn(space-between, none);
            gap: 1em;
            hr{
                stroke-width: 0.1em;
                stroke: #FFF;
                width: 0em;
                height: 5em;
            }
            div{
                @include variables.defaultFlexRow(flex-start, center);
                svg{
                    width: 2.1em;
                    opacity: 0.75;
                    height: 2em;
                }
            }
        }
        
    }
}


@media (max-width:630px){
    .content{
        width: auto;
        gap: 0;
        h3{
            align-self: center;
        }
        p{
            align-self: center;
        }
        .subcontent{
            padding: 3em 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            hr{
                display: none;
            }
            gap: 3em;
            div{
                gap: 1em;
                div{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}