@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&family=Work+Sans&display=swap");
/*Global*/
/*Home*/
/*Footer*/
/*Login and Register*/
/*Width*/
/*Width*/
@keyframes defaultSlideX {
  0% {
    transform: translateX(0%);
  }
  36% {
    transform: translateX(72%);
  }
  72% {
    transform: translateX(144%);
  }
  144% {
    transform: translateX(0%);
  }
}
@keyframes defaultSlideY {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes animInitialize {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: _valor_) {
  * {
    font-size: _outrovalor_;
  }
}
.content {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-flow: column nowrap;
  background: #FC8019;
  width: 99vw;
  gap: 2em;
  padding: 12em 0;
}
.content .scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 145em;
  padding-top: 1em;
}
.content .scope a {
  text-decoration: none;
}
.content .scope a figure {
  display: flex;
  justify-content: flex-start;
  align-items: none;
  flex-flow: row nowrap;
  gap: 1em;
  cursor: pointer;
}
.content .scope a figure svg {
  width: 2.3em;
  height: 2.1em;
  fill: white;
  padding-top: 0.5em;
}
.content .scope a figure h5 {
  color: #FFF;
  font-size: 2.8em;
  font-weight: 700;
}
.content .scope a figure:hover {
  transition: all 0.3s ease;
  opacity: 1.5;
  transform: scale(1.1, 1.1);
  transform-origin: center;
  cursor: pointer;
}
.content .scope nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-flow: row nowrap;
  gap: 7em;
}
.content .scope nav li a {
  display: inline-block;
  color: #FFF;
  font-size: 1.6em;
  font-weight: 500;
  text-decoration: none;
}
.content .scope nav li a:hover {
  transition: all 0.3s ease;
  opacity: 1.5;
  transform: scale(1.1, 1.1);
  transform-origin: center;
  cursor: pointer;
}
.content .scope .contact {
  color: #FFF;
  font-size: 1.5em;
  font-weight: 500;
}
.content .scope .contact span {
  color: #FFF;
  font-size: 1.1em;
  font-weight: 700;
}
.content .mediasocials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 2em;
}
.content .mediasocials svg {
  width: 2.2em;
  height: 2.2em;
  stroke: white;
  fill-rule: evenodd;
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}
.content .mediasocials svg:hover {
  transition: all 0.3s ease;
  opacity: 1.5;
  transform: scale(1.1, 1.1);
  transform-origin: center;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .content .scope {
    width: 100em;
  }
}
@media (max-width: 1250px) {
  .content {
    gap: 3em;
  }
  .content .scope {
    width: 80em;
    flex-flow: column nowrap;
    gap: 3em;
  }
}
@media (max-width: 840px) {
  .content .scope {
    width: 60em;
  }
}
@media (max-width: 630px) {
  .content {
    padding: 5em 0;
  }
  .content .scope {
    width: 45em;
  }
  .content .scope nav ul {
    font-size: 0.5em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 2.5em 0;
  }
  .content .scope {
    width: 45em;
  }
  .content .scope nav ul {
    font-size: 0.25em;
  }
  .content .scope nav ul li {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 2em 0;
  }
  .content .scope {
    width: 35em;
    font-size: 0.75em;
  }
  .content .scope nav ul {
    font-size: 0.25em;
  }
  .content .scope nav ul li {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=Footer.module.css.map */