@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&family=Work+Sans&display=swap');

.content{
    width: 100vw;
    height: 15vw;
    background: #FC8019; 
    .scope{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        figure{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 10px;
            margin: 0;
            svg{
                fill: #FC8019;
                margin: 0;
                padding-top: 5px;
            }
            h5{
                color: #FFF;
                font-family: Poppins;
                font-size: 28px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-align: center;

                margin: 0;
                padding: 0;
            }
        }

        nav{
            ul{
                list-style-type: none;
                display: flex;
                justify-content: center;
                gap: 70px;
                padding: 0;
            }
            li{
                a{
                    display: inline-block;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                    
                }
                a:hover{
                    transition: all 0.3s ease;
                    color: #e2e2e2;
                    transform: scale(1.5, 1.50);
                    transform-origin: center; 
                }
            }
        }

        .contact{
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            span{
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    
    .mediasocials{
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        gap: 20px;

        svg{
            /*width: 22px;
            height: 22px;*/
            padding: 0;
            margin: 0;
        }
    }
}