@use '../../values/variables';

.content{
    width: 100%;
    button{
        @include variables.defaultFlexColumn(center, center);
        background: variables.$orangeColor;
        width: 100%;
        height: 3.3em;
        border: 0.2rem variables.$orangeColor;
        border-radius: 0.5em;

        color: #FFF;
        font-size: 2.4em;
        font-weight: 500;
    }
    button:hover{
        @include variables.smallHover();
    }
}

@media (max-width: 630px){
    .content{
        button{
            font-size: 1.9em;
        }
    }
}

@media (max-width: 480px){
    .content{
        button{
            font-size: 1.5em;
            border: 0.5rem variables.$orangeColor;
        }
    }
}

